html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.ive-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.ive-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.ive-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.ive-table,.ive-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.ive-table-all{border:1px solid #ccc}
.ive-bordered tr,.ive-table-all tr{border-bottom:1px solid #ddd}.ive-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.ive-table-all tr:nth-child(odd){background-color:#fff}.ive-table-all tr:nth-child(even){background-color:#f1f1f1}
.ive-hoverable tbody tr:hover,.ive-ul.ive-hoverable li:hover{background-color:#ccc}.ive-centered tr th,.ive-centered tr td{text-align:center}
.ive-table td,.ive-table th,.ive-table-all td,.ive-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ive-table th:first-child,.ive-table td:first-child,.ive-table-all th:first-child,.ive-table-all td:first-child{padding-left:16px}
.ive-btn,.ive-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.ive-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.ive-btn,.ive-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.ive-disabled,.ive-btn:disabled,.ive-button:disabled{cursor:not-allowed;opacity:0.3}.ive-disabled *,:disabled *{pointer-events:none}
.ive-btn.ive-disabled:hover,.ive-btn:disabled:hover{box-shadow:none}
.ive-badge,.ive-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.ive-badge{border-radius:50%}
.ive-ul{list-style-type:none;padding:0;margin:0}.ive-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.ive-ul li:last-child{border-bottom:none}
.ive-tooltip,.ive-display-container{position:relative}.ive-tooltip .ive-text{display:none}.ive-tooltip:hover .ive-text{display:inline-block}
.ive-ripple:active{opacity:0.5}.ive-ripple{transition:opacity 0s}
.ive-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.ive-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.ive-dropdown-click,.ive-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.ive-dropdown-hover:hover .ive-dropdown-content{display:block}
.ive-dropdown-hover:first-child,.ive-dropdown-click:hover{background-color:#ccc;color:#000}
.ive-dropdown-hover:hover > .ive-button:first-child,.ive-dropdown-click:hover > .ive-button:first-child{background-color:#ccc;color:#000}
.ive-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.ive-check,.ive-radio{width:24px;height:24px;position:relative;top:6px}
.ive-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.ive-bar-block .ive-dropdown-hover,.ive-bar-block .ive-dropdown-click{width:100%}
.ive-bar-block .ive-dropdown-hover .ive-dropdown-content,.ive-bar-block .ive-dropdown-click .ive-dropdown-content{min-width:100%}
.ive-bar-block .ive-dropdown-hover .ive-button,.ive-bar-block .ive-dropdown-click .ive-button{width:100%;text-align:left;padding:8px 16px}
.ive-main,#main{transition:margin-left .4s}
.ive-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.ive-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.ive-bar{width:100%;overflow:hidden}.ive-center .ive-bar{display:inline-block;width:auto}
.ive-bar .ive-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.ive-bar .ive-dropdown-hover,.ive-bar .ive-dropdown-click{position:static;float:left}
.ive-bar .ive-button{white-space:normal}
.ive-bar-block .ive-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.ive-bar-block.ive-center .ive-bar-item{text-align:center}.ive-block{display:block;width:100%}
.ive-responsive{display:block;overflow-x:auto}
.ive-container:after,.ive-container:before,.ive-panel:after,.ive-panel:before,.ive-row:after,.ive-row:before,.ive-row-padding:after,.ive-row-padding:before,
.ive-cell-row:before,.ive-cell-row:after,.ive-clear:after,.ive-clear:before,.ive-bar:before,.ive-bar:after{content:"";display:table;clear:both}
.ive-col,.ive-half,.ive-third,.ive-twothird,.ive-threequarter,.ive-quarter{float:left;width:100%}
.ive-col.s1{width:8.33333%}.ive-col.s2{width:16.66666%}.ive-col.s3{width:24.99999%}.ive-col.s4{width:33.33333%}
.ive-col.s5{width:41.66666%}.ive-col.s6{width:49.99999%}.ive-col.s7{width:58.33333%}.ive-col.s8{width:66.66666%}
.ive-col.s9{width:74.99999%}.ive-col.s10{width:83.33333%}.ive-col.s11{width:91.66666%}.ive-col.s12{width:99.99999%}
@media (min-width:601px){.ive-col.m1{width:8.33333%}.ive-col.m2{width:16.66666%}.ive-col.m3,.ive-quarter{width:24.99999%}.ive-col.m4,.ive-third{width:33.33333%}
.ive-col.m5{width:41.66666%}.ive-col.m6,.ive-half{width:49.99999%}.ive-col.m7{width:58.33333%}.ive-col.m8,.ive-twothird{width:66.66666%}
.ive-col.m9,.ive-threequarter{width:74.99999%}.ive-col.m10{width:83.33333%}.ive-col.m11{width:91.66666%}.ive-col.m12{width:99.99999%}}
@media (min-width:993px){.ive-col.l1{width:8.33333%}.ive-col.l2{width:16.66666%}.ive-col.l3{width:24.99999%}.ive-col.l4{width:33.33333%}
.ive-col.l5{width:41.66666%}.ive-col.l6{width:49.99999%}.ive-col.l7{width:58.33333%}.ive-col.l8{width:66.66666%}
.ive-col.l9{width:74.99999%}.ive-col.l10{width:83.33333%}.ive-col.l11{width:91.66666%}.ive-col.l12{width:99.99999%}}
.ive-rest{overflow:hidden}.ive-stretch{margin-left:-16px;margin-right:-16px}
.ive-content,.ive-auto{margin-left:auto;margin-right:auto}.ive-content{max-width:980px}.ive-auto{max-width:1140px}
.ive-cell-row{display:table;width:100%}.ive-cell{display:table-cell}
.ive-cell-top{vertical-align:top}.ive-cell-middle{vertical-align:middle}.ive-cell-bottom{vertical-align:bottom}
.ive-hide{display:none!important}.ive-show-block,.ive-show{display:block!important}.ive-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.ive-auto{max-width:95%}}
@media (max-width:600px){.ive-modal-content{margin:0 10px;width:auto!important}.ive-modal{padding-top:30px}
.ive-dropdown-hover.ive-mobile .ive-dropdown-content,.ive-dropdown-click.ive-mobile .ive-dropdown-content{position:relative}	
.ive-hide-small{display:none!important}.ive-mobile{display:block;width:100%!important}.ive-bar-item.ive-mobile,.ive-dropdown-hover.ive-mobile,.ive-dropdown-click.ive-mobile{text-align:center}
.ive-dropdown-hover.ive-mobile,.ive-dropdown-hover.ive-mobile .ive-btn,.ive-dropdown-hover.ive-mobile .ive-button,.ive-dropdown-click.ive-mobile,.ive-dropdown-click.ive-mobile .ive-btn,.ive-dropdown-click.ive-mobile .ive-button{width:100%}}
@media (max-width:768px){.ive-modal-content{width:500px}.ive-modal{padding-top:50px}}
@media (min-width:993px){.ive-modal-content{width:900px}.ive-hide-large{display:none!important}.ive-sidebar.ive-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.ive-hide-medium{display:none!important}}
@media (max-width:992px){.ive-sidebar.ive-collapse{display:none}.ive-main{margin-left:0!important;margin-right:0!important}.ive-auto{max-width:100%}}
.ive-top,.ive-bottom{position:fixed;width:100%;z-index:1}.ive-top{top:0}.ive-bottom{bottom:0}
.ive-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.ive-display-topleft{position:absolute;left:0;top:0}.ive-display-topright{position:absolute;right:0;top:0}
.ive-display-bottomleft{position:absolute;left:0;bottom:0}.ive-display-bottomright{position:absolute;right:0;bottom:0}
.ive-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.ive-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.ive-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.ive-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ive-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ive-display-container:hover .ive-display-hover{display:block}.ive-display-container:hover span.ive-display-hover{display:inline-block}.ive-display-hover{display:none}
.ive-display-position{position:absolute}
.ive-circle{border-radius:50%}
.ive-round-small{border-radius:2px}.ive-round,.ive-round-medium{border-radius:4px}.ive-round-large{border-radius:8px}.ive-round-xlarge{border-radius:16px}.ive-round-xxlarge{border-radius:32px}
.ive-row-padding,.ive-row-padding>.ive-half,.ive-row-padding>.ive-third,.ive-row-padding>.ive-twothird,.ive-row-padding>.ive-threequarter,.ive-row-padding>.ive-quarter,.ive-row-padding>.ive-col{padding:0 8px}
.ive-container,.ive-panel{padding:0.01em 16px}.ive-panel{margin-top:16px;margin-bottom:16px}
.ive-code,.ive-codespan{font-family:Consolas,"courier new";font-size:16px}
.ive-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.ive-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.ive-card,.ive-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.ive-card-4,.ive-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.ive-spin{animation:ive-spin 2s infinite linear}@keyframes ive-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.ive-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.ive-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.ive-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.ive-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.ive-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.ive-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.ive-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.ive-animate-input{transition:width 0.4s ease-in-out}.ive-animate-input:focus{width:100%!important}
.ive-opacity,.ive-hover-opacity:hover{opacity:0.60}.ive-opacity-off,.ive-hover-opacity-off:hover{opacity:1}
.ive-opacity-max{opacity:0.25}.ive-opacity-min{opacity:0.75}
.ive-greyscale-max,.ive-grayscale-max,.ive-hover-greyscale:hover,.ive-hover-grayscale:hover{filter:grayscale(100%)}
.ive-greyscale,.ive-grayscale{filter:grayscale(75%)}.ive-greyscale-min,.ive-grayscale-min{filter:grayscale(50%)}
.ive-sepia{filter:sepia(75%)}.ive-sepia-max,.ive-hover-sepia:hover{filter:sepia(100%)}.ive-sepia-min{filter:sepia(50%)}
.ive-tiny{font-size:10px!important}.ive-small{font-size:12px!important}.ive-medium{font-size:15px!important}.ive-large{font-size:18px!important}
.ive-xlarge{font-size:24px!important}.ive-xxlarge{font-size:36px!important}.ive-xxxlarge{font-size:48px!important}.ive-jumbo{font-size:64px!important}
.ive-left-align{text-align:left!important}.ive-right-align{text-align:right!important}.ive-justify{text-align:justify!important}.ive-center{text-align:center!important}
.ive-border-0{border:0!important}.ive-border{border:1px solid #ccc!important}
.ive-border-top{border-top:1px solid #ccc!important}.ive-border-bottom{border-bottom:1px solid #ccc!important}
.ive-border-left{border-left:1px solid #ccc!important}.ive-border-right{border-right:1px solid #ccc!important}
.ive-topbar{border-top:6px solid #ccc!important}.ive-bottombar{border-bottom:6px solid #ccc!important}
.ive-leftbar{border-left:6px solid #ccc!important}.ive-rightbar{border-right:6px solid #ccc!important}
.ive-section,.ive-code{margin-top:16px!important;margin-bottom:16px!important}
.ive-margin{margin:16px!important}.ive-margin-top{margin-top:16px!important}.ive-margin-bottom{margin-bottom:16px!important}
.ive-margin-left{margin-left:16px!important}.ive-margin-right{margin-right:16px!important}
.ive-padding-small{padding:4px 8px!important}.ive-padding{padding:8px 16px!important}.ive-padding-large{padding:12px 24px!important}
.ive-padding-16{padding-top:16px!important;padding-bottom:16px!important}.ive-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.ive-padding-32{padding-top:32px!important;padding-bottom:32px!important}.ive-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.ive-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.ive-left{float:left!important}.ive-right{float:right!important}
.ive-button:hover{color:#000!important;background-color:#ccc!important}
.ive-transparent,.ive-hover-none:hover{background-color:transparent!important}
.ive-hover-none:hover{box-shadow:none!important}
/* Colors */
.ive-amber,.ive-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.ive-aqua,.ive-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.ive-blue,.ive-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ive-light-blue,.ive-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.ive-brown,.ive-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.ive-cyan,.ive-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.ive-blue-grey,.ive-hover-blue-grey:hover,.ive-blue-gray,.ive-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.ive-green,.ive-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ive-light-green,.ive-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.ive-indigo,.ive-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.ive-khaki,.ive-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.ive-lime,.ive-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.ive-orange,.ive-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.ive-deep-orange,.ive-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.ive-pink,.ive-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.ive-purple,.ive-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.ive-deep-purple,.ive-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.ive-red,.ive-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ive-sand,.ive-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.ive-teal,.ive-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.ive-yellow,.ive-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ive-white,.ive-hover-white:hover{color:#000!important;background-color:#fff!important}
.ive-black,.ive-hover-black:hover{color:#fff!important;background-color:#000!important}
.ive-grey,.ive-hover-grey:hover,.ive-gray,.ive-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.ive-light-grey,.ive-hover-light-grey:hover,.ive-light-gray,.ive-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.ive-light-light-grey,.ive-hover-light-light-grey:hover,.ive-light-light-gray,.ive-hover-light-light-gray:hover{color:#000!important;background-color:#f4f4f4!important}
.ive-dark-grey,.ive-hover-dark-grey:hover,.ive-dark-gray,.ive-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.ive-pale-red,.ive-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.ive-pale-green,.ive-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.ive-pale-yellow,.ive-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.ive-pale-blue,.ive-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.ive-text-amber,.ive-hover-text-amber:hover{color:#ffc107!important}
.ive-text-aqua,.ive-hover-text-aqua:hover{color:#00ffff!important}
.ive-text-blue,.ive-hover-text-blue:hover{color:#2196F3!important}
.ive-text-light-blue,.ive-hover-text-light-blue:hover{color:#87CEEB!important}
.ive-text-brown,.ive-hover-text-brown:hover{color:#795548!important}
.ive-text-cyan,.ive-hover-text-cyan:hover{color:#00bcd4!important}
.ive-text-blue-grey,.ive-hover-text-blue-grey:hover,.ive-text-blue-gray,.ive-hover-text-blue-gray:hover{color:#607d8b!important}
.ive-text-green,.ive-hover-text-green:hover{color:#4CAF50!important}
.ive-text-light-green,.ive-hover-text-light-green:hover{color:#8bc34a!important}
.ive-text-indigo,.ive-hover-text-indigo:hover{color:#3f51b5!important}
.ive-text-khaki,.ive-hover-text-khaki:hover{color:#b4aa50!important}
.ive-text-lime,.ive-hover-text-lime:hover{color:#cddc39!important}
.ive-text-orange,.ive-hover-text-orange:hover{color:#ff9800!important}
.ive-text-deep-orange,.ive-hover-text-deep-orange:hover{color:#ff5722!important}
.ive-text-pink,.ive-hover-text-pink:hover{color:#e91e63!important}
.ive-text-purple,.ive-hover-text-purple:hover{color:#9c27b0!important}
.ive-text-deep-purple,.ive-hover-text-deep-purple:hover{color:#673ab7!important}
.ive-text-red,.ive-hover-text-red:hover{color:#f44336!important}
.ive-text-sand,.ive-hover-text-sand:hover{color:#fdf5e6!important}
.ive-text-teal,.ive-hover-text-teal:hover{color:#009688!important}
.ive-text-yellow,.ive-hover-text-yellow:hover{color:#d2be0e!important}
.ive-text-white,.ive-hover-text-white:hover{color:#fff!important}
.ive-text-black,.ive-hover-text-black:hover{color:#000!important}
.ive-text-grey,.ive-hover-text-grey:hover,.ive-text-gray,.ive-hover-text-gray:hover{color:#757575!important}
.ive-text-light-grey,.ive-hover-text-light-grey:hover,.ive-text-light-gray,.ive-hover-text-light-gray:hover{color:#f1f1f1!important}
.ive-text-dark-grey,.ive-hover-text-dark-grey:hover,.ive-text-dark-gray,.ive-hover-text-dark-gray:hover{color:#3a3a3a!important}
.ive-border-amber,.ive-hover-border-amber:hover{border-color:#ffc107!important}
.ive-border-aqua,.ive-hover-border-aqua:hover{border-color:#00ffff!important}
.ive-border-blue,.ive-hover-border-blue:hover{border-color:#2196F3!important}
.ive-border-light-blue,.ive-hover-border-light-blue:hover{border-color:#87CEEB!important}
.ive-border-brown,.ive-hover-border-brown:hover{border-color:#795548!important}
.ive-border-cyan,.ive-hover-border-cyan:hover{border-color:#00bcd4!important}
.ive-border-blue-grey,.ive-hover-border-blue-grey:hover,.ive-border-blue-gray,.ive-hover-border-blue-gray:hover{border-color:#607d8b!important}
.ive-border-green,.ive-hover-border-green:hover{border-color:#4CAF50!important}
.ive-border-light-green,.ive-hover-border-light-green:hover{border-color:#8bc34a!important}
.ive-border-indigo,.ive-hover-border-indigo:hover{border-color:#3f51b5!important}
.ive-border-khaki,.ive-hover-border-khaki:hover{border-color:#f0e68c!important}
.ive-border-lime,.ive-hover-border-lime:hover{border-color:#cddc39!important}
.ive-border-orange,.ive-hover-border-orange:hover{border-color:#ff9800!important}
.ive-border-deep-orange,.ive-hover-border-deep-orange:hover{border-color:#ff5722!important}
.ive-border-pink,.ive-hover-border-pink:hover{border-color:#e91e63!important}
.ive-border-purple,.ive-hover-border-purple:hover{border-color:#9c27b0!important}
.ive-border-deep-purple,.ive-hover-border-deep-purple:hover{border-color:#673ab7!important}
.ive-border-red,.ive-hover-border-red:hover{border-color:#f44336!important}
.ive-border-sand,.ive-hover-border-sand:hover{border-color:#fdf5e6!important}
.ive-border-teal,.ive-hover-border-teal:hover{border-color:#009688!important}
.ive-border-yellow,.ive-hover-border-yellow:hover{border-color:#ffeb3b!important}
.ive-border-white,.ive-hover-border-white:hover{border-color:#fff!important}
.ive-border-black,.ive-hover-border-black:hover{border-color:#000!important}
.ive-border-grey,.ive-hover-border-grey:hover,.ive-border-gray,.ive-hover-border-gray:hover{border-color:#9e9e9e!important}
.ive-border-light-grey,.ive-hover-border-light-grey:hover,.ive-border-light-gray,.ive-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.ive-border-dark-grey,.ive-hover-border-dark-grey:hover,.ive-border-dark-gray,.ive-hover-border-dark-gray:hover{border-color:#616161!important}
.ive-border-pale-red,.ive-hover-border-pale-red:hover{border-color:#ffe7e7!important}.ive-border-pale-green,.ive-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.ive-border-pale-yellow,.ive-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.ive-border-pale-blue,.ive-hover-border-pale-blue:hover{border-color:#e7ffff!important}
